:root {
  --main-color: #a89a9a;
}

.wrapper {
  min-height: 100vh ;
  height: 100% ;
}


#sector2 {
  background-color: var(--main-color);
}
.main__inner {
  flex-direction: column;
  gap: 30px;
  height: 100%;
  max-width: 1220px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
}


.section2 {
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: var(--main-color);
}

.cart {
  margin: 0 auto;
  text-align: center;
}

.cart div{
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  margin: 0 auto;
}

.cart p {
  width: 300px;
  margin: 0 auto;
  text-align: justify;
}


#captcha-container {
  margin: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#captcha {
  font-size: 24px;
  margin-bottom: 10px;
}

#captchaInput {
  padding: 5px;
  font-size: 16px;
}

#submitButton {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

#submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

#errorMessage {
  color: red;
  margin-top: 10px;
}