:root {
  --main-color: #a89a9a;
}

.wrapper {
  min-height: 100vh ;
  height: 100% ;
}


#sector2 {
  background-color: var(--main-color);
}
.main__inner {
  flex-direction: column;
  gap: 30px;
  height: 100%;
  max-width: 1220px;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
}


.notification {
  background-color: #f1f1f1;
  padding: 16px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#list {
  width: 300px;
  text-align: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

#list li {
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}