header {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 15;
}
.header-inner {
  padding: 15px 0;
}


.container.head {
  max-width: 1440px;
}
.title_inner {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.title_inner > h1 {
  font-weight: 600;
  font-size: 34px;
  text-align: left;
}

.header__call-us {
  display: flex;
  gap: 5px;
}

.header__navigation {
  display: flex;
  list-style: none;
  gap: 25px;
}

.header__navigation > li > a {
  position: relative;
  font-size: 17px;
  transition: .4s ease;
}
.header__navigation > li > a:after {
  content: '';
  position: absolute;
  z-index: 5;
  bottom: -6%;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: #5C8692;
  transition:  .4s ease ;
}

.header__navigation > li > a:hover::after {
  transform: scaleX(1);
}

.header__navigation > li > a:hover {
  color: #5C8692;
}
.header__icon {
  display: flex;
  gap: 15px;
  position: relative;
}

.header__reservation {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 200px;
  height: 55px;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  background-color: #5C8692;
  cursor: pointer;
  transition: box-shadow 600ms ease-in-out, color 600ms ease-in-out;

}

.header__reservation:hover {
  box-shadow: 0 0 40px 40px #5b6b73 inset;
}

.header-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

.header-left {
  display: flex;
  gap: 35px;
  align-items: center;
}

.burger__button, .burger__button__wrapper{
  display: none;
}


@media screen and (max-width: 1310px) {
  .header-right {
    flex-direction: column;
  }
}

@media screen and (max-width: 1110px) {

  .header-left {
    flex-direction: row-reverse;
    gap: 20px;
  }

  .burger__button__wrapper {
    display: block;
    height: 14px;
    width: 30px;
    cursor: pointer;
  }

  .burger__button {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    transform: translateY(7px);
    background-color: #000000;
  }

  .burger__button::after {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 4px;
    transform: translateY(-7px);
    background-color: #000000;
    transition: .4s ease-in-out;
  }

  .burger__button::before {
    content: "";
    position: absolute;
    top: 0;
    width: 30px;
    height: 4px;
    transform: translateY(7px);
    background-color: #000000;
    transition: .4s ease-in-out;
  }

  .nav {
    position: fixed;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    padding: 20px;
    padding-top: 200px;
    width: 100%;
    height: 100%;
    left: -100%;
    right: 0;
    overflow: auto;
    transition: .4s ease-in-out;
  }
  .header__navigation {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    li {

      a {
        font-size: 30px;
        color: white;
        font-weight: 600;
        text-wrap: nowrap;
      }
    }
  }

  .activeB {
    width: 0px;
    position: fixed;
    right: 50px;
    z-index: 20;
    top: 130px;
  }
  .activeB:after {
    transform: rotate(45deg) translateY(0px);
    background-color: #ffffff;

  }
  .activeB:before {
    transform: rotate(-45deg) translateY(0px);
    background-color: #ffffff;
  }
}

@media screen and (max-width: 620px) {
  .header__icon {
    display: none;
  }
  .header__reservation {
    min-width: 50px;

    span {
      display: none;
    }
  }


}