.reservationsSection {
  width: 100%;
  background-color: #eaf2f4;
}

.reservationsSection__title {

  p {
    color: #5C8692;
    text-align: center;
    line-height: 22.5px; /* 150% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    font-family: Playfair Display;
    font-size: 45px;
    line-height: 58.5px; /* 130% */
    letter-spacing: 0.45px;
  }
}

.reservationsSection__inner {
  margin: 100px 0;
}

.reservationsSection__list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.reservationsSection__item {
  width: 100%;
 


  .item__content {
    
    position: relative;

    span:nth-child(1) {
      position: absolute;
      top: 0px;
      right: 7px;
      text-transform: uppercase;
      font-size: 16px;
      cursor: pointer;
    }

    span:nth-child(2) {
      position: absolute;
      top: 0px;
      left: 7px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  .item__content:first-child {
    flex-grow: 1;
    text-align: justify;

    p {
      overflow: auto;
      height: 180px;
      padding: 30px;
      background-color: #ffffff;
    }

    span {
      opacity: .3;
    }

  }
  .item__content:last-child {
    background-color: #1e2c30;
    display: flex;
    padding: 20px 15px;
    color: white;

    justify-content: space-between;

    span {
      left: 7px;
      top: -2px;
      font-size: 12px;
      cursor: auto;
    }


    div {
      h6 {
        margin: 0;
        margin-bottom: 15px;
        color: #FFF;
        font-family: Playfair Display;
        font-size: 20px;
        line-height: 24px; /* 120% */
        letter-spacing: 0.24px;
        text-transform: capitalize;
      }

      p {
        color: #FFF;
        font-size: 14px;
        line-height: 21px; /* 150% */
        letter-spacing: 0.42px;
      }
    }

    span {
      color: #ffffff;
      opacity: 0.1;
    }
  }
}

.null {
  grid-template-columns: repeat(1, 1fr);

  div {
    text-align: center;
    margin: 0 auto;

    h6 {
      font-size: 20px;
      margin: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .reservationsSection__list {
    grid-template-columns: repeat(1, 1fr);
  }
}